body{
    background-color: #488ECB;
}
#header {
    position: fixed;
    top: 0;
    width: 100%;
    height: 55px;
    backdrop-filter: blur(50px);
    z-index: 100;
}
#header > section {
    position: relative;
    height: 50px;
    margin-left: 5px;
    margin-right: 15px;
}

#header > section > div > h3 {
    position: absolute;
    font-size: 25px;
    left: 8px;
    top: 8px;
    margin: auto;
}


