body{
    background-color: #488ECB;
}
#header {
    position: fixed;
    top: 0;
    width: 100%;
    height: 55px;
    backdrop-filter: blur(50px);
    z-index: 100;
}
#header > section {
    position: relative;
    height: 50px;
    margin-left: 5px;
    margin-right: 15px;
}
#home>aside>hr{

}
#header > section > div > h3 {
    position: absolute;
    font-size: 25px;
    left: 8px;
    top: 8px;
    margin: auto;
}
header > section > nav > ul {
    position: absolute;
    margin: auto;
    top: 20px;
    right: 0;
    list-style: none;

}
section > nav > ul > li {
    display: inline-block;
    padding-left: 15px;
    font-size: 22px;
}

/*---------------home--------------*/
body > main {
    position: relative;
}
.main-section {
    position: relative;
    margin-left: 25px;
    margin-right: 25px;
    background-color: #11cb79;
}

#home {
    background-color: #E9ECEF;
    margin-top: 60px;
    height: 86vh;
    top: 50px;
    box-shadow: 1px 1px 5px 5px #282626;
    border: solid black 2px;
}
#home > aside>aside {
    position: absolute;
    width: 15vw;
    height: 15vw;
    margin-top: -130px;
    right: 6%;
    border-radius: 50%;
    border: 10px solid #d70e3d;
    /*margin-top: 20%;*/
    background-image: url("../img/my pic.jpg");
    background-size: cover;
}
#home > aside:nth-child(2) > h3 {
    position: relative;
    font-size: 50px;
    top: -50px;
    color: #206D99;
    margin-bottom: -22px;
    animation-name: h3;
    animation-duration: 8s;
    animation-direction: alternate;

}

