body{
    background-color: #488ECB;
}
#header {
    position: fixed;
    top: 0;
    width: 100%;
    height: 55px;
    backdrop-filter: blur(50px);
    z-index: 100;
}
#header > section {
    position: relative;
    height: 50px;
    margin-left: 5px;
    margin-right: 15px;
}

#header > section > div > h3 {
    position: absolute;
    font-size: 25px;
    left: 8px;
    top: 8px;
    margin: auto;

}
header > section > nav > ul {
    position: absolute;
    margin: auto;
    top: 10px;
    right: 0;
    list-style: none;
    padding-left: 80px;


}
section > nav > ul > li {
    display: inline-block;
    padding-left: 15px;
    font-size: 22px;
}

/*---------------home--------------*/
body > main {
    position: relative;


}

#home {
    margin-top: 50px;
    background-color: #E9ECEF;
    height: 50vw;
    top:100vw;
    border: solid black 2px;

}

#home > aside>aside {
    position: relative;
    width: 25vw;
    height: 25vw;
    bottom: 0;
    right: -65%;
    margin-top: -20vw;
    border-radius: 50%;
    border: 1vw solid #d70e3d;
    background-image: url("../img/my pic.jpg");
    background-size: cover;
    z-index: 1;
    margin-right: 0;
}
#home > aside:nth-child(2) > h3 {
    position: relative;
    font-size: 4vw;
    top: 5vw;
    /*right: -22%;*/
    color: #206D99;
    margin-bottom: 2%;
    margin-top: 2%;
    margin-left: 22%;
    animation-name: h3;
    animation-duration: 8s;
    animation-direction: alternate;


}

@keyframes h3 {
    from{
        margin-left: 20%;
    }
    to{
        margin-right: 20%;
    }
}
#home > aside:nth-child(2) > p{
    position: relative;
    color: #2b2323;
    top: 5vw;
margin-left: 5%;
    font-size: 5vw;
    margin-top: -10px;

    animation-name: p;
    animation-duration: 8s;
    animation-direction: alternate;
}
@keyframes p{
    from{
        margin-left: 20%;
    }
    to{
        margin-right: 20%;
    }
}
#home > aside:nth-child(2) > h1{
    position: relative;
    font-size: 2vw;
    top: 2vw;
    /*left: 15%;*/
    margin-left: 15%;
    margin-top: -10px;

}
#home>aside>div>p{
    background-color: #4DBABA;
    border-radius: 8px;
    width: 47vw;
    height: 3vw;
    position: relative;
    font-size: 2vw;
    padding-top: 8px;
    color: white;
    top: 8vw;
    /*left: 8%;*/
    margin-left: 8%;
    margin-top: 1px;
    padding-left: 1%;
}
#home>aside>nav>img {
    position: relative;
    width: 5%;
    height: 5%;
    top: 3vw;
    right: -60%;
    margin-top: 1px;
    padding-right: 2vw;

}
/*---About-----*/
#about {
    position: relative;
    background-color: #E9ECEF;
    margin-top: 10px;
    height: 80vw;
    top: 5px;
    box-shadow: 1px 1px 5px 5px #282626;
    border: solid black 2px;
}
#about > article {
    position: relative;
    width: 53%;
    height: max-content;
    left: 5%;
    top:6%;
    /*border: 1px solid red;*/
}
#about > article > h2 {
    position: relative;
    bottom: 30px;
    font-size: 3vw;
    color: #e30b0b;

}
#about > article > h2 >span{
    color: #1627c6;

}
#about > article > p {
    color: #111111;
    font-size:  2vw;
    line-height: 1.5;
    padding-left: 100px;
}
#about > aside {
    position: relative;
    margin-left: 60%;
    margin-top: -5%;
    height:25%;
    width: 35%;
    border: 3px solid red;
}
#about > aside > dl {
    position: relative;
    top: 15%;
    right: 3%;
    margin: auto;
}
#about > aside > dl > dd {
    position: relative;
    top: 10%;
    color: #0685f3;
    font-size: 2vw;
    padding-top: 2px;
    padding-bottom: 2px;
    padding-left: 1%;
    white-space: pre;
}
#about > aside > dl > dd > b {
    position: relative;
    right: 20px;
    color: #ff0000;
}


/*---services-----*/
#services {
    position: relative;
    background-color: #E9ECEF;
    height: 60vw;
    top: 20px;
    box-shadow: 2px 2px 2px 2px #282626;
    border: solid black 2px;
}
#services > section {
    position: relative;
    box-shadow: 10px 13px 8px -5px #282626;
    background-color: #D9D9D9;
    width: calc(80% / 3);
    height: 60%;

    transition-delay: 0s;
    transition-property: all;
    transition-duration: 1s;
}
#services > section:hover {
    background-color: #38c211;
    background-image:  linear-gradient(90deg,
    rgb(234, 241, 10) 0%, rgb(32, 60, 198) 100%);
    cursor:pointer;
    box-shadow: 0 0 0 0 #e208d8;

    transition-delay: 0s;
    transition-property: all;
    transition-duration: 1s;

}

#services > section >div{
    height:80%;
    width: 50%;
    margin: auto;
    border: 1px solid yellow;
}
.service-img {
    position: relative;
    width: 90%;
    height: 40%;
    right: -5%;
    top: 5%;
}
#services > section:nth-child(2) {
    top: 2%;
    right: -6%;
}
#services > section:nth-child(3) {
    top: -58%;
    right: -36%;
}
#services > section:nth-child(4) {
    top: -118%;
    right: -66%;
}
.service-p1 {
    position: relative;
    text-align: center;
    top: 3%;
    color: #1f1d1d;
    font-size: 2vw;
}
.service-p2 {
    position: relative;
    text-align: center;
    padding-right: 5%;
    top: 3%;
    font-size:  1vw;
    color: #d221de;
    line-height: 1.3;
}

/*---Skills-----*//*---Skills-----*//*---Skills-----*/
/*---Skills-----*//*---Skills-----*//*---Skills-----*/
#skills {
    position: relative;
    background-color: #E9ECEF;
    margin-top: 30px;
    height: 75vw;
    top: 5px;
    box-shadow: 2px 2px 2px 2px #282626;
    border: solid black 2px;
}
.skill-div1 {
    position: relative;
    width: calc(90% / 3);
    height:20%;
    box-shadow: 10px 13px 8px -5px #1414ac;
    background-color: #D9D9D9;
    border: 3px solid black;

    transition-delay: 0s;
    transition-property: all;
    transition-duration: 1s;
}

.skill-div2 {
    position: relative;
    bottom: 10%;
}
.skills-h1 {
    position: relative;
    text-align: center;
    color: #1a1717;
    font-size: 2vw;
}



.skills-img {
    position: relative;
    width: 20%;
    height: 40%;
    right: -5%;
}

.skill-div1:hover{
    background-image:  linear-gradient(90deg, rgb(46, 29, 165) 0%, rgb(33, 217, 14) 100%);
    cursor:pointer;
    box-shadow: 0 0 0 0 #f1bbbb;
    transition-delay: 0s;
    transition-property: all;
    transition-duration: 1s;
}

#skills > div:nth-child(2) {
    left: 1%;
}

#skills > div:nth-child(3) {
    top: -11%;
    right: -35%;

}

#skills > div:nth-child(4) {
    top: -21%;
    right: -68%;
}

#skills > div:nth-child(5) {
    top: -31%;
    left: 1%;
}

#skills > div:nth-child(6) {
    top: -41%;
    right: -35%;
}

#skills > div:nth-child(7) {
    top: -51%;
    right: -68%;
}




/*---Projects-----*/
#projects {
    position: relative;
    background-color: #E9ECEF;
    margin-top: 15px;
    height: 75vw;
    top: 5px;
    box-shadow: 2px 2px 2px 2px #282626;
    border: solid black 2px;

}
#projects > section {
    position: relative;
    width: calc(90% / 3);
    height:40%;
    box-shadow: 10px 13px 8px -5px #1414ac;
    background-color: #D9D9D9;
    border: 3px solid black;

    transition-delay: 0s;
    transition-property: all;
    transition-duration: 1s;
}
#projects > section:hover{
    background-image:  linear-gradient(90deg, rgb(46, 29, 165) 0%, rgb(33, 217, 14) 100%);
    cursor:pointer;
    z-index: 20;
    box-shadow: 0 0 0 0 #f1bbbb;
    transition-delay: 0s;
    transition-property: all;
    transition-duration: 1s;
}
.project-tittle {
    position: relative;
    text-align: center;
    color: black;
    font-size: 2vw;
}
.project-img {
    position: relative;
    width: 80%;
    height: 80%;
    right: -10%;

    opacity: 90%;
}

#projects >section:nth-child(2){
left: 11%;
}
#projects >section:nth-child(3){
    top: -21%;
    right: -35%;
    z-index: 10;
}
#projects >section:nth-child(4){
    top: -82%;
    right: -58%;
}
#projects >section:nth-child(5){
    top: -76%;
    left: 11%;

}
#projects >section:nth-child(6){
    top: -116%;
    right: -58%;
}


/*---Education-----*/
#education {
    position: relative;
    background-color: #E9ECEF;
    margin-top: 15px;
    height: 75vw;
    top: 5px;
    box-shadow: 2px 2px 2px 2px #282626;
    border: solid black 2px;

}
#education > aside {
    position: relative;
    width: 90%;
    height:80%;
    right: -5%;
border: 1px solid  green;
}
.white-circle {
    position: relative;
    /*background-color: #59ff00;*/
    border-radius: 100%;
    height: 2vw;
    width: 2vw;

}
.blue-circle {
    position: relative;
    background-color: #0004ff;
    height: 2vw;
    width: 2vw;
    border-radius: 100%;

}
.blue-line {
    position: relative;
    background-color: #001aff;
    height: 1%;
    width: 9vw;
}
#education > aside > div:nth-child(3) {
    position: relative;
    background-color: white;
    height: 45vw;
    width: 1%;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
}
#education > aside > div:nth-child(4) {
    left: 49%;
    /*background-color: #166bb6;*/
}

#education > aside > div:nth-child(5) {
    left: 49%;
    top: -18%;
    /*background-color: black;*/
}
#education > aside > div:nth-child(6) {
    left: 39%;
    top: -20%;
    /*background-color: #0a21ff;*/
}

#education > aside > div:nth-child(7) {
    left: 49%;
    top: -40%;
    /*background-color: #ff5c00;*/
}

#education > aside > div:nth-child(8) {
    left: 49%;
    top: -60%;
    /*background-color: #d200ff;*/
}
#education > aside > div:nth-child(9) {
   /*/ background-color: #683607;*/
    left: 51%;
    top: -45.5%;
}


/*---hobby-----*/
#hobby {
    background-color: #E9ECEF;

}
/*---Contact-----*/
#Contact {
    background-color: #E9ECEF;

}
/*---footer-----*/
#footer {
    position: relative;
    top: 20px;
    background-color: #E9ECEF;

}